
@media (max-width: 1199px){
   

}
@media (max-width:991px){
    .header-top{
        font-size: 0.7rem;
    }
    .about-cont{
        margin-bottom: 1rem;
    }

    footer .fbtn {
        padding: 0.2rem 1rem;
    }
    footer .fcredit{
        font-size: 0.8rem;
    }

}
@media (max-width: 767px){
    .header-top{
        display: none;
    }
    .fcredit{
        text-align: center;
    }
    .navbar 
    .snav{
        justify-content: space-between;
        margin: 0 1rem;
    }

    .support-button{
        display: none !important;
    }
    .top{
        height: 14rem;
    }
    .top .carousel-item img{
        height: 14rem;
    }
    #about-part{
        padding: 1rem 0;
    }
    .box{
        padding: 1rem;
    }

}